.App {
    text-align: center;
    background-color: #161823;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-container {
    background-color: #161823;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .App-footer {
    background-color: #161823;
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
  }
  .footer-item {
    padding: 5px;
    width: 100px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
  .is-active .icon {
    fill: #ffffff !important;
  }
  .food {
    fill: url(#first-gradient) gray;
  }
  .stores {
    fill: url(#second-gradient) gray;
  }
  .houses {
    fill: url(#third-gradient) gray;
  }
  .saved {
    fill: black;
  }
  .donutchart-innertext {
    transform: translate(0px, 100px);
  }
  .donutchart-innertext .donutchart-innertext-label {
    fill:white;
    font-size:24px;
    transform: translate(0px, 24px);
    font-weight: 600;
  }
  .donutchart-innertext .donutchart-innertext-value {
    fill: #7f8086;
    font-weight: 600;
  }
  .donutchart-arcs .selected {
    opacity: 0.9!important;
  }
  .donutchart-arcs-path {
    cursor: url('images/cursor.svg'), auto;	
  }
  .title {
    // position: absolute;
    // top: 10px;
    font-size: 20px;
    font-weight: 600;
    padding:15px 0px 10px;
  }
  .title-image {
    padding-top: 5px;
    float: right;
    padding-left: 5px;
  }