.app-form {
    color: white;
    width: 100%;
    label {
        width: calc(100% - 40px);
        display: block;
        padding: 12px 20px;
        margin: 8px 0px;
    }
    input {
        width: calc(100% - 20px);
        display: block;
        padding: 12px 20px;
        margin: 8px 10px;
        box-sizing: border-box;
        background-color: #e2e2e2;
        border: none;
        border-radius: 5px;
    }
    button {
        background-color: #0b78e3;
        width: calc(100% - 40px);
        display: block;
        padding: 12px 20px;
        margin: 20px;
        border: none;
        color: white;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5px;
    }

}