.month-nav {
    height: 40px;
    margin-bottom: 10px;
    width:100%;
    background-color:#060812;
    margin: 0 67px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    .month-link {
        margin-right: 26px;
        flex-shrink: 0;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        font-size: 16px;
        &_selected {
            border-bottom: 3px solid #0b78e3;
        }
    }

  }
.fade-appear {
    opacity: 0;
}
.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms ease-out;
}
.chart-appear {
    transform: scaleX(0) translateY(100px);
	transition: all 300ms ease-in-out
}
.chart-appear-active {
    transform: scaleX(1) translateY(0);
}